body {
  font-family: 'Ubuntu', sans-serif;
 background-color:#BFA2DB;
}

#surveyForm {
  background-color: #F0D9FF;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px;
  border-radius: 10px;
}

fieldset {
  margin-bottom: 50px;
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 15px;

}

legend {
  font-weight: bold;
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.5em;
  background-color: #F3F1F5;
}

header {

  text-align: center;

}

h1{
  font-size: 24px;
}



input[type='number']{
    width: 100px;
}

#survey-group {
  text-align: left;
  padding:10px;
  line-height: 2;
  font-size: 18px;

}

.userRole {
  padding-bottom: 25px;
  margin-bottom: 10px;


}

#comments {
  width: 400px;
  height: 100px;

}
