body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#e68bbe, #f4b8da);
  color: #54233F;
}

header {
  color: #54233F;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#survey-form {
  background-color: #fde4f2;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px;
  border-radius: 10px;
}

fieldset {
  margin-bottom: 50px;
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 15px;
}

legend {
  font-weight: bold;
  color: #7D4B6A;
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.5em;
  background-color: #F3F1F5;
}

h1 {
  font-size: 32px;
  font-weight: bolder;
}

#description {
  font-size: 22px;
}

.personal_info {
  float: left;
  width: 100%;
}

#survey-group {
  text-align: left;
  padding: 10px;
  line-height: 2;
  font-size: 18px;
  display: block;
}

.userRole {
  padding-bottom: 25px;
  margin-bottom: 10px;
}

#comments {
  width: 400px;
  height: 100px;
}
